$primaryRed: #ff002e;
$backgroundBlack: #080d12;
$backgroundGrey: rgb(23, 26, 34);
$backgroundBlackOpacity: rgba(8, 13, 18, 0.904);
$backgroundGreyOpacity: rgba(23, 26, 34, 0.863);
$subtextWhite: #f3f3f3;
$subtextGrey: #80868d;

$serifMain: "Bodoni Moda", serif;
$sansSerifMain: "Roboto", sans-serif;
