$primaryRed: #ff002e;
$backgroundBlack: #080d12;
$backgroundBlackOpacity: rgba(8, 13, 18, 0.904);
$subtextWhite: #f3f3f3;
$subtextGrey: #80868d;

$serifMain: "Bodoni Moda", serif;
$sansSerifMain: "Roboto", sans-serif;
