@import "../../Utilities/variables";

.womens__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../Assets/Images/Women-Hero-4.jpg");
  background-size: cover;
  background-position: 0px -560px;

  h1 {
    font-family: $serifMain;
    color: $primaryRed;
    font-size: 5em;
    font-weight: 700;
  }

  p {
    font-family: $sansSerifMain;
    color: $subtextWhite;
  }
}

.womens__product-section {
  background: $backgroundBlack;
  // height: 100vh;
  padding: 120px 240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
